.imageZoom {
    & .imageZoom__box {
        z-index: 1;
        position: absolute;
        left: 110%;
        top: 0;
        height: 300px;
        width: 300px;
    }
}
@media screen and (max-width: 639.8px) {
    .imageZoom {
        cursor: default;
        & .imageZoom__box {
            display: none;
            left: 50%;
            pointer-events: none;
        }
    }
}
