@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-switch-checked {
    background-color: #1890ff !important;
}
.ant-switch {
    background-color: rgba(0, 0, 0, 0.25);
}

.icon-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
